<%= form_for [page.story,page] do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :pagecontent, :placeholder => "Create a page for this story..." %>
  </div>
  <%= f.submit "Create Page", :class => "btn btn-large btn-primary" %>
<% end %>