<li>
	<div class="container">
	<div class="span4 pages_userlist">
		<ol class="pages_list">
				
				
				<% if (defined?(page.user.name)).nil? %>
				<li>
				<span class="user_not_found">Author Unknown</span>
				</li>
				<% else %>
				<li>
				<%= link_to page.user.name, page.user %>
				</li>
				<% end %>
				
				<li>
				Written <%= time_ago_in_words(page.created_at)%> ago
				
				<% if signed_in? && current_user == page.user or current_user == page.story.user && page.story.finished == false or current_user.admin? %>
		 		| <%= link_to "delete", @page, :controller => :pages, :action => :destroy, :confirm => "Are you sure?" %>
				<% end %>
				</li>
		
		</ol>
			
		
		
		
	</div>
	
	<div class="span7 pages">
	<%=  simple_format(page.pagecontent) %>
	
	</div>
	
	</div>
	
	
	
</li>